# Next.js
.next/
out/
build/

# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
*.pem
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Foundry
foundry/out/
foundry/cache/
foundry/broadcast/
foundry/.env

# Playwright
playwright-report/
test-results/
